{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module",
    "parser": "babel-eslint",
    "ecmaFeatures": {
      "globalReturn": true,
      "impliedStrict": true,
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended",
    "airbnb-base"
  ],
  "overrides": [
    {
      "files": [
        "*.html"
      ],
      "rules": {
        "vue/comment-directive": "off"
      }
    }
  ],
  "rules": {}
}
